@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Mini_application_for_patients.Models.GetAppointmentVM
<style>


    .Data {
        margin-top: 10%;
    }
</style>



<div>
    <div class="Data">

        <table class="table">
            <tr>
                <td scope="col">ID</td>
                <td scope="col">FirstName</td>
                <td scope="col">LastName</td>
                <td scope="col">Date</td>


            </tr>
            <tbody>
                @foreach (var x in Model.Appointment)
                {
                    <tr scope="row">
                        <td>@x.ID</td>
                        <td>@x.FirstName</td>
                        <td>@x.LastName</td>
                        <td>@x.Date</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
